/*-----------------------------------------------
 Style de la fenêtre modale qui est masquée par défaut. */

.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent noir */
    overflow: auto; /* Permet de scroller si le contenu est trop grand */
}

/*-----------------------------------------------
Contenu de la modale*/
.modal-content {
    background-color: var(--text-light); /* Fond blanc */
    margin: 5% auto;            /* Centrage verticalement et horizontalement */
    padding:  var(--spacing-md); /* Espacement interne */
    border-radius: var(--border-radius-sm); /* Coins arrondis */
    width: 80%;/* Largeur relative à l'écran */
    max-width: 800px;           /* Largeur maximale */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Ombre pour un effet "flottant" */
    position: relative; /* Permet de positionner le bouton de fermeture */
    overflow-y: auto; /* Active le défilement vertical si le contenu dépasse */
}

/*-----------------------------------------------
Bouton de fermeture : x */
.close-modal {
    display: none;
    position: absolute;         /* Positionne le bouton en haut à droite */
    right: 15px;
    top: 10px;
    font-size: 3.5em;            /* Taille du symbole × */
    font-weight: bold;
    color: var(--secondary-bg);                /* Couleur rouge */
    width: 32px;
    height: 32px;
    cursor: pointer;            /* Curseur "main" au survol */
}

.close-modal:hover {
    color: var(--text-dark); /* Couleur plus foncée au survol */
}

/*----------------------------------------------
Corps de la modale (image et infos)*/
.modal-content {
    overflow-y: auto; /* Active le scroll vertical si le contenu dépasse */
    max-height: 90vh; /* Limite la hauteur à 90% de la hauteur de l'écran */
}

.modal-body {
    display: grid;
    /* 2 colonnes pour la 1ère ligne : 1fr (flexible) et 227px (fixe) */
    grid-template-columns: 423px 227px;
    /* 2 lignes : 1 pour les infos/poster, 1 pour le résumé/acteurs */
    grid-template-rows: auto auto;
    /*gap: 1rem;*/ /* Espacement entre les blocs */
    column-gap: var(--spacing-md); /* Espacement horizontal entre les colonnes */
    width: fit-content; /* Largeur totale = 423px + 227px + column-gap */


}

/* Positionnement des blocs */
.modal-info {
    grid-column: 1;/* 1ère colonne (largeur flexible) */
    grid-row: 1;/* 1ère ligne */
    width: 423px;
    height: 359px;
}
.modal-poster {
    grid-column: 2; /* 2ème colonne */
    grid-row: 1;    /* 1ère ligne */
    width: 227px;
    height: 334px;
}
.modal-inforesume {
    grid-column: 1 / span 2; /* S'étend sur les 2 colonnes */
    grid-row: 2;    /* 2ème ligne */
    width: 698px;
    height: auto;
    margin-top: -50px; /* Chevauchement de 50px */
    margin-bottom: 25px;
}
.modal-avecactors {
    grid-column: 1 / span 2; /* S'étend sur les 2 colonnes */
    grid-row: 3;    /* 3ème ligne (si besoin) */
}

.modal-info p{
    font-weight: 600;
    font-size: var(--font-size-lg);
}
.modal-info h2{
    margin-bottom: 0;
}

/* Pour les labels et valeurs */
.modal-int-realise,
.modal-int-actors{
    font-weight: 400;
}
.modal-director{
    font-weight: 300;
}

.modal-poster img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.modal-int-realise,
.modal-director{
    display: block; /* Chaque span prendra toute la largeur disponible et passera à la ligne */
}
.modal-director {
    margin-bottom: var(--spacing-lg);
}
.modal-int-actors,
.modal-actors{
    display: block;
}



/*------------------------------------------------
Bouton de fermeture (pied de modale) : texte 'Fermer'*/
.modal-footer {
    margin-top: var(--spacing-lg);
    padding: var(--spacing-md) 0;           /* Espacement vertical */
    text-align: center;         /* Aligne le bouton au centre */
    border-top: 1px solid #eee; /* Ligne de séparation */
}

.modal-footer .close-button {
    background-color: rgba(250,11,11,11); /* Couleur rouge pour le bouton */
    color: var(--text-light); /* Texte blanc */
    border: none;  /* Pas de bordure */
    padding: var(--spacing-xs) var(--spacing-sm); /* Espacement interne */
    border-radius: var(--border-radius-lg); /* Coins arrondis */
    cursor: pointer;  /* Curseur "main" au survol */

    font-weight: 500;
    font-size: var(--font-size-md);
    width: 214px;
    height: 36px;
}

.modal-footer .close-button:hover {
    background-color: #c42838; /* Couleur plus foncée au survol */
}


/* Tablette (écran moyen) et mobile */
@media (max-width: 788px) {
    .modal-body {
        display: grid;
        grid-template-columns: 1fr; /* 1 colonne */
        grid-template-rows: auto auto auto auto; /* 4 lignes */
        gap: var(--spacing-md); /* Espacement entre les blocs en colonne */
        text-align: left;
        margin: 5% 5% 5% 5%;
    }

    .modal-title{
        text-align: left;
    }

    /* Ordre personnalisé */
    .modal-info {
        grid-column: 1;
        grid-row: 1;
        width: 100%; /* Largeur totale */
    }

    .modal-inforesume {
        grid-column: 1;
        grid-row: 2;
        margin-top: 0;
        width: 698px;
        height: 457px;
    }
    .modal-director {
        margin-bottom: 0;
    }
    .modal-poster {
        grid-column: 1;
        grid-row: 3;
    }
    .modal-avecactors {
        grid-column: 1;
        grid-row: 4;
    }

    /* Réinitialise les hauteurs fixes */
    .modal-info,
    .modal-poster,
    .modal-inforesume,
    .modal-avecactors {
        width: 100%;
        height: auto;
    }
    .modal-poster img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 788px){
    .close-button{
        display: none;
    }
    .close-modal {
        display: block;
    }
}