/*-------------------------------------------------
Les styles appliqués s'inspirent de la maquette :
https://www.figma.com/design/6KzVM5R2pOBX637RcVWjJ7/Maquettes-JustStreamIt?node-id=0-1&p=f&t=VDGeWP8h8er4U2UL-0

Le frontend de cette application a été développé pour s'adapter à 3 tailles d'écrans classiques :
- Ordinateur : 1054px
- Tablette : 788px
- Mobile : 456px
*/

/*------------------------------------------------
Définition des variables globales
*/
:root {
    /* Couleurs principales */
    --primary-bg: rgba(97, 120, 127, 1); /* Bleu-gris clair / turquoise*/
    --secondary-bg: rgba(250, 11, 11, 1);
    --text-light: rgba(255, 255, 255, 1); /*Blanc*/
    --text-dark: #333; /*Gris très foncé*/
    --shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /*pour box-shadow (ajout d'ombre) opacité 10%*/

    /* Tailles de police plutôt en rem pour qu'ils s'adapte à la taille de l'écran
    - 1rem equivalent à 16px
    - intérêts : adaptabilité aux différents écrans, zoom,etc.*/
    --font-size-xs: 0.875rem;  /* 14px */
    --font-size-sm: 1rem;      /* 16px */
    --font-size-md: 1.125rem;  /* 18px */
    --font-size-lg: 1.75rem;   /* 28px */
    --font-size-xl: 2.25rem;   /* 36px */
    --font-size-xxl: 3rem;     /* 48px */

    /* Espacements */
    --spacing-xs: 0.25rem;     /* 4px */
    --spacing-sm: 0.5rem;      /* 8px */
    --spacing-md: 1rem;        /* 16px */
    --spacing-lg: 1.5rem;      /* 24px */
    --spacing-xl: 2rem;        /* 32px */

    /* Bordures et rayons */
    --border-radius-sm: 5px;
    --border-radius-lg: 25px;
    --border-width: 2px;
}

/* Réinitialisation des marges et des espaces*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Permet de raisonner en largeur total en incluant padding et border*/
}

/*----------------------------------------------
   Styles globaux
   (<body>, les titres et paragraphes
*/
body {
    font-family: 'Oswald', sans-serif;
    letter-spacing: 0;
    line-height: 1.5;/* 1.5 plus agréable pour la lecture que 1 comme indiqué dans la maquette */
    vertical-align: middle; /* Alignement vertical */
    padding: 5% 10%; /* Padding vertical: 5%, horizontal: 10% */
    max-width: 1054px;
    margin: 0 auto; /* Centre le contenu horizontalement */
}

/* Typographie */
h1, h2, h3, p {
    vertical-align: middle;
    margin-bottom: 0; /* Réinitialisation des marges*/
}

h1 {
    font-weight: 300; /* Light */
    font-size: 2.5rem; /* 40px */
    color: var(--text-light);
}

h2 {
    font-weight: 600; /* Oswald Semi-Bold */
    font-size: var(--font-size-xxl); /* 48px */
    margin-bottom: var(--spacing-md); /* 16px */
}

p {
    font-size: var(--font-size-lg); /* 28px */
    font-weight: 200; /* Oswald Extra-Light */
}

/*----------------------------------------------
header et margin des sections
*/
header {
    background-color: var(--primary-bg);
    color: var(--text-light);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--spacing-lg); /* 32px */
    width: 837px;
    height: 122px;
}

.groupe1 {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center; /* Alignement vertical des éléments */
}

/*pour espacement entre les section : dans chaque session, un espace en bas */
section {
    margin-bottom: var(--spacing-lg); /* 32px */
}

/*------------------------------------------
 Meilleur film (section best-movie-section)
 */
.best-movie-card {
    display: flex;
    border: var(--border-width) solid rgba(0, 0, 0, 1);
    border-radius: var(--border-radius-sm);
    overflow: hidden; /* Empêche le débordement du contenu */
    padding: 1%;
    height: 369px;
    width: 835px;
    gap: var(--spacing-md); /* 16px */
}

.movie-poster img {
    width: 227px;
    height: 334px;
    object-fit: contain; /* Conserve le ratio sans rognage */
}

.movie-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-right: var(--spacing-md);
}

.movie-button {
    display: flex;
    background-color: var(--secondary-bg);
    color: var(--text-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    border-radius: var(--border-radius-lg);
    font-weight: 500;
    font-size: 1.25rem; /* 20px */
    margin-top: var(--spacing-md);
    align-self: flex-end;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 68px;
}

/*------------------------------------------------
 Grille des meilleurs films
*/
/* Grille principale */
.top-movies-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
    gap: var(--spacing-md);
    max-width: 100%;
    justify-content: space-between;
    padding: 1%;
}

/* Carte individuelle */
.top-movies-card {
    max-width: 260px;
    box-shadow: var(--shadow);
    text-align: center;
    position: relative; /* Pour le positionnement absolu des enfants */
}

.top-movies-poster {
    position: relative;
}

.top-movies-poster img {
    width: 259px;
    height: 259px;
    object-fit: contain;
    display: block;
}

.top-movies-info {
    position: absolute;
    top: 10%;
    left: 0;
    right: 0;
    padding: var(--spacing-md);
    background-color: rgba(0, 0, 0, 0.6);
    color: var(--text-light);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100px;
}

.top-movies-info h3 {
    font-size: 1.5rem;
    font-weight: 600;
    align-self: flex-start;
    margin: 0;
}

.top-movies-button {
    display: inline-block;
    background-color: var(--text-dark);
    padding: var(--spacing-xs) var(--spacing-sm); /* 4px 8px */
    border-radius: var(--border-radius-lg);
    gap: var(--spacing-xs); /* 4px */
    margin-top: auto; /* Pousse le bouton vers le bas */
    align-self: flex-end;
    font-size: var(--font-size-xs); /* 14px */
    font-weight: 500;
    color: var(--text-light);
}

/*-----------------------------------------------
  Bouton 'voir plus' et 'voir moins'
*/
.voir-plus-button,
.voir-moins-button {
    display: none; /* Masqués par défaut sur PC */
    background-color: var(--secondary-bg);
    color: var(--text-light);
    padding: var(--spacing-xs) var(--spacing-sm);
    font-size: 1.25rem;
    border-radius: var(--border-radius-lg);
    margin: auto;
    width: 214px;
    height: 36px;
}

/* Cartes cachées */
.movie-card.hidden {
    display: none;
}

/* -----------------------------------------------
--------------------------------------------------
 Media Queries (responsive design)
*/

/* Tablette (écran ≤ 788px) */
@media (max-width: 788px) {
    body {
        padding: 5%; /* Réduction notamment padding latéral */
    }

    header {
        width: 100%;
        max-width: 619px;
        height: 137px;
        margin: 0 auto;
    }

    .movie-info h3 {
        font-size: 1.25rem; /* 20px */
        color: var(--text-dark);
    }

    p {
        font-size: 1.5rem; /* 24px */
    }

    .best-movie-card {
        height: 271px;
        width: 100%;
        max-width: 618px;
        margin: 0 auto;
    }

    .movie-poster img {
        width: 168px;
        height: 246px;
    }

    .movie-button {
        width: 123px;
        height: 49px;
        align-self: flex-end;
    }

    .top-movies-grid {
        grid-template-columns: repeat(2, auto);
        width: 100%;
        max-width: 1054px;
        margin: 0 auto;
    }

    .top-movies-card {
        max-width: 295px;
    }

    .top-movies-poster img {
        width: 295px;
        height: 286px;
    }

    /* Visibilité des cartes */
    .hidden-on-tablet-and-mobile {
        display: none;
    }

    .voir-plus-button {
        display: block;
    }
}

/* Mobile (écran ≤ 456px) */
@media (max-width: 456px) {
    body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 5% 0; /* Suppression padding latéral */
    }

    header {
        width: 100%;
        max-width: 329px;
        height: 137px;
        margin: 0 auto;
    }

    header h1 {
        display: none; /* Masque le titre h1 */
    }

    h2 {
        width: 274px;
        height: 47px;
        font-size: 2rem; /* 32px */
        text-align: center;
        margin: 0 auto;
    }

    p {
        font-size: var(--font-size-sm);
    }

    .movie-button {
        width: 91px;
        height: 40px;
        align-self: center;
    }

    .best-movie-card {
        flex-direction: column;
        height: 463px;
        width: 100%;
        max-width: 329px;
        margin: 0 auto;
    }

    .movie-poster img {
        height: 241px;
        width: 298px;
    }

    .top-movies-grid {
        grid-template-columns: repeat(1, auto);
        width: 100%;
        max-width: 1054px;
        margin: 0 auto;
    }

    .top-movies-card {
        max-width: 329px;
    }

    .top-movies-poster img {
        width: 329px;
        height: 319px;
    }

    /* Visibilité des cartes */
    .visible-on-tablet-and-desktop {
        display: none;
    }

    .hidden-on-tablet-and-mobile {
        display: none;
    }

    .voir-plus-button {
        display: block;
    }
}